.general{
    align-items: center;
   
    margin: 0 auto 0 auto;
    width: 1300px;
}
h1{
    font-family: 'Irish Grover', cursive;
}
img{
    margin-left: 150px;
}

.fa-arrow-left{
    font-size: 30px;
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 100px;
}